repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
  - repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
      - id: black
        args:
          - --target-version=py313
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
  - repo: https://github.com/Matterminers/dev-tools
    rev: "737e044dbeec13607e374a79bfb66af666ece6ff"
    hooks:
      - id: contributors
      - id: changelog
        args:
          - docs/source/changes
          - compile
          - --categories
          - Added
          - Changed
          - Fixed
          - Security
          - Deprecated
          - --output=docs/source/changelog.rst
        additional_dependencies:
          - PyYAML
