language: python

python:
  - "3.7"
  - "3.6"
  - "3.6-dev" # 3.6 development branch
  - "nightly" # currently points to 3.7-dev
  - "pypy3.5"

os:
  - linux
#  - osx

matrix:
  allow_failures:
  - python: "3.7"
  - python: "3.6-dev"
  - python: "nightly"

install:
  - pip install codecov
  - pip install coverage

script:
  - coverage run setup.py test

after_success:
  - coverage report
  - codecov
